//colores
$color-principal: #FF9900;
$color-texto: crimson;
$color-secundario: #FFCC00;
$color-terciario: #FFFF66;
$color-burbuja: #a2cbdb88 ;                    

//texto
$tipo-texto: 'Righteous', cursive;
